In [1]:
import pandas as pd

In [9]:
from scipy.stats import entropy as en

In [10]:
import numpy as np

In [17]:
df=pd.read_csv("intern_dataset.csv")

In [46]:
df.head(10)

                      Time       Signal1   Signal2 Label
0  2017-08-14 11:37:49.791  33668.091913  0.856726     A
1  2017-08-14 11:37:49.801  32564.903040  0.856705     A
2  2017-08-14 11:37:49.811  31454.043305  0.856683     A
3  2017-08-14 11:37:49.821  30335.387166  0.856659     A
4  2017-08-14 11:37:49.831  29207.142938  0.856634     A
5  2017-08-14 11:37:49.841  28066.378446  0.856607     A
6  2017-08-14 11:37:49.851  26910.094146  0.856579     A
7  2017-08-14 11:37:49.861  25736.387974  0.856550     A
8  2017-08-14 11:37:49.871  24545.389112  0.856518     A
9  2017-08-14 11:37:49.881  23339.584544  0.856486     A

In [47]:
df.tail(5)

                           Time       Signal1   Signal2 Label
911995  2020-01-04 10:55:49.186  34673.811155  0.151395     C
911996  2020-01-04 10:55:49.196  34672.951723  0.151385     C
911997  2020-01-04 10:55:49.206  34671.967555  0.151373     C
911998  2020-01-04 10:55:49.216  34670.877944  0.151359     C
911999  2020-01-04 10:55:49.226  34669.694865  0.151342     C

In [21]:
df.allcount()

Time       912000
Signal1    912000
Signal2    912000
Label      912000
dtype: int64

In [22]:
A=df[df["Label"]=='A']

In [23]:
A.count()

Time       318000
Signal1    318000
Signal2    318000
Label      318000
dtype: int64

In [24]:
B=df[df["Label"]=='B']

In [25]:
B.count()

Time       312000
Signal1    312000
Signal2    312000
Label      312000
dtype: int64

In [26]:
C=df[df["Label"]=='C']

In [27]:
C.count()

Time       282000
Signal1    282000
Signal2    282000
Label      282000
dtype: int64

In [38]:
D=df[df["Time"]=='2020-01-04 10:55:49.186']

In [39]:
D.count()

Time       1
Signal1    1
Signal2    1
Label      1
dtype: int64

In [41]:
df.Signal1.count()

912000

In [42]:
df.Signal2.count()

912000

In [43]:
df.Time.count()

912000

In [45]:
en(df.allvalue_counts())

13.723395269056484